.container {
  width: 100%;
  background-image: url("../../../../assets/images/home_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {

  .wrapper {
    justify-content: center;
  }
  .logo {
    display: none;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

}

.content h1 {
  max-width: 550px;
  margin-bottom: 1rem;
}
.content p {
  max-width: 433px;
  margin: 2rem 0;
}

.divider {
  height: 8px;
  width: 166px;
  background-color: var(--medium-green);
}

.buttons {
  display: flex;
  gap: 2rem;
}
