.card_container {
    background-color: #242424;
    max-width: 380px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    padding: 20px 50px;
    border-bottom: 2px solid var(--medium-green);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 50px;
    margin-top: 50px;
}
.card_container h3 {
    text-align: center;
    margin-top: 40px;
    height: 60px;
}
.card_container:hover {
    box-shadow: 0 13px 40px var(--medium-green);
}
.card_container a{
    font-size: 1rem;
}

.card_container_img {
    max-width: 220px;
    object-fit: cover;
}
