.main_container {
    min-height: 80vh;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
}

.main_container h1{
    margin-bottom: 20px;
}

.divider {
    height: 5px;
    background-color: var(--medium-green);
    min-width: 143px;
    margin-top: 20px;
}