.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 84px;
    background-color: var(--transparent-black);
    backdrop-filter: blur(6px);
    border: 1px solid var(--transparent-black);
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.38);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.45s ease-in-out;
}
.button img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}
.button:hover {
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.604);
}