.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
  margin-bottom: 8rem;
}
.border {
  border-bottom: 1px solid var(--medium-green);
}
.right {
  flex-direction: row;
}
.left {
  flex-direction: row-reverse;
}
.image {
  transition: all 0.6s ease-in-out;
  width: 50%;
  height: 483px;
  object-fit: contain;
}
@media screen and (max-width: 1180px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .container div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
}

@media screen and (max-width: 1180px) {

  .image {
    width: 100%;
    padding: 4rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  
}
