.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  flex-direction: row;
}
.left {
  flex-direction: row-reverse;
}
.image {
  transition: all 0.6s ease-in-out;
}
.container.right:hover .image {
  transform: scale(1.05) rotate(3deg);
}
.container.left:hover .image {
  transform: scale(1.05) rotate(-3deg);
}
