.button {
  width: 100%;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .bar {
    width: 6px;
    height: 48px;
    background-color: var(--medium-green);
  }

.button img, .button, .bar{
    transition: all 0.45s ease-in-out;
} 
.button:hover img {
  transform: translateX(0.8rem);
}

.button:hover .bar {
  margin-right: 0.5rem;
}
